---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="l-main">
		<header class="l-header">header</header>
		<article class="l-article">
			<div class="l-article_inner">
				<aside class="l-sidebar">sidebar</aside>
				<div class="l-content">content</div>
			</div>
		</article>
		<footer class="l-footer">footer</footer>
	</main>
</Layout>

<style>

html {
	background: #fff;
	color: #000;
}

.l-main {
	display: grid;
	grid-template: "head" 100px "article" 1fr "footer" 80px;
	min-height: 100vh;
}

.l-header {
	padding: 10px;
	grid-area: head;
	background: pink;
}

.l-article {
	margin-inline: auto;
    grid-area: article;
    background: gray;
    width: 100%;
}

.l-article_inner {
    margin-inline: auto;
	display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

@media(max-width: 768px){
	.l-article_inner {
		grid-template-columns: 1fr;
	}
}

.l-sidebar {
	padding: 10px;
	background: lightgreen;
}

.l-content {
	padding: 10px;
	background: lightyellow;
}

.l-footer {
	padding: 10px;
	grid-area: footer;
	background: lightblue;
}
</style>
